[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/urlsh
ExecStart=/root/apps/urlsh/urlsh
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/urlsh/config.env

[Install]
WantedBy=multi-user.target
